
<%- include("./partiels/header.ejs")  %>

<h1>Listes de Dépenses</h1>

  <table>
    <tr>
      <th>N°</th>
      <th>Date</th>
      <th>Quantité</th>
      <th>Designation</th>
      <th>Prix unitaire</th>
      <th>Prix total</th>
      <th>Actions</th>
    </tr>
    
    <%
    let total = 0; // Initialisation de la variable total
    if (depenses) {
      // Trier les depenses par date
      depenses.sort((a, b) => {
        return new Date(a.depense.date_depense) - new Date(b.depense.date_depense);
      });
  
      // Parcourir les depenses triées
      depenses.map((depense, index) => {
        total += depense.depense.prix_total_depense; // Ajouter le total de chaque produit au total général
  %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= depense.depense.date_depense %></td>
          <td><%= depense.depense.quantite_depense %></td>
          <td><%= depense.depense.designation_depense %></td>
          <td><%= depense.depense.prix_unitaire_depense %></td>
          <td><%= depense.depense.prix_total_depense %></td>
          <td><a style="color: red;" href="/delete_depense/<%= depense._id %>">Supprimer</a></td>
          <td><a style="color: blue;" href="/show_depense/<%= depense._id %>">Edit</a></td>
        </tr>
  <%
      });
    }
  %>

<tr>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>

  <td style="font-weight: bold; color:black"><%= total %></td>
</tr>

  </table>

 
  <%- include("./partiels/footer.ejs")  %>