
<%- include("./partiels/header.ejs")  %>
    <h1></h1>

    <form action="/update_recette/<%= recette._id  %>" method="post">
        <div class="container">
          <h1>Détails recettes</h1>
     
          <hr>
          <label for="date"><b>Date </b></label>
          <input type="date"  name="date_recette" id="date_recette" required>

          <label for="quantite"><b>Quantité</b></label>
          <input type="number" placeholder="Entrer la quantité" name="quantite_recette" id="quantite" value="<%= recette.recette.quantite_recette %>" required>
      
          <label for="designation"><b>Désignation</b></label>
          <input type="text" placeholder="Entrer la désignation" name="designation_recette" id="designation" value="<%= recette.recette.designation_recette %>" required>
        
          <label for="prix_unitaire"><b>Prix unitaire </b></label>
          <input type="number" step="0.01"  placeholder="Entrer le prix unitaire" name="prix_unitaire_recette"  id="prix_unitaire" value="<%= recette.recette.prix_unitaire_recette %>" required>
         
          <label for="prix_total"><b>Prix total</b></label>
          <input type="Number" step="0.01"  placeholder="Entrer le prix total" name="prix_total_recette"  id="prix_total" value="<%= recette.recette.prix_total_recette %>" required>

          <hr>
         
          <button type="submit" class="registerbtn">Enregistrer</button>
        </div>
        
      </form>

  <%- include("./partiels/footer.ejs")  %>